@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root {
	display: flex;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0rem;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}

.auth-box {
	padding: 20px 0px;
	height: 631.5px;
	width: 100%;
	max-width: 450px;
	text-align: left;
}

.inner-authbox {
	padding: 30px;
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-yampi {
	height: 40px;
	width: 115px;
	margin-bottom: 40px;
	justify-content: center;
}

.title-f20 {
	padding-top: 4px;
	height: 24px;
	width: 290px;
	line-height: 24px;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: #141316;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	color-scheme: none;
}

.text-f15 {
	width: 290px;
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: rgb(153, 153, 153);
	color-scheme: none;
	text-align: center;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	/* margin-bottom: 10px; */
}

.form-container {
	margin: 0 auto;
	margin-top: 35px;
	height: 289px;
}

.form-group {
	height: 73px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 22px;
}

.label-block {
	margin-bottom: 7px;
	color: rgb(86, 84, 94);
	font-size: 14px;
	/* font-weight: 500; */
	line-height: 21px;
	text-align: left;
	box-shadow: rgba(0, 0, 0, 0.01);
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	color-scheme: dark;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	color-scheme: none;
}

.label-block>a {
	font-family: 'Inter', sans-serif;
	color: #582db4;
	font-size: 13px;
	text-decoration-line: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	color-scheme: none;
}

.input-block {
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-color: rgb(215, 212, 226);
	border-radius: 4px;
	border-style: solid;
	color: rgb(20, 19, 22);
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	padding: 11px 16px;
	text-align: start;
	width: 256px;
	height: 21px;
	writing-mode: horizontal-tb;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	color-scheme: none;
}

.input-block::placeholder {
	color: rgb(215, 212, 226);
}

.input-block:focus {
	outline: 4px auto #582db4;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	text-shadow: rgba(0, 0, 0, 0.01);
	color-scheme: none;
}

.input-block.invalid {
	border-color: rgb(229, 15, 56);
}

.error-message {
	color: rgb(229, 15, 56);
	font-size: 11px;
	margin-top: 8px;

	
}

.error-visible{
	margin-bottom: 41px;
}

.button-submit {
	width: 290px;
	height: 35px;
	background-color: rgb(80, 50, 150);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 13px;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	outline: none;
}

.last-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 290px;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 15px;
}

.last-text {
	font-size: 16px;
	color: rgb(102, 102, 102);
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.last-text>a {
	color: #582db4;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
}

@media (min-width:700px) {
	.auth-box{
		width: 530px;
	}
}